doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="register.css")
    title Login
  body
    .container
      h1 Login
      form(action='/authenticate' method='POST')
        p(style='color: red;') #{errorMessage || ''}
        label(for="email") Your Email Address
        input(type="email", id="email", name="email", required)

        label(for="password") Password
        input(type="password", id="password", name="password", required)
        button(type="submit") Login
      p If you don't have an account, 
        a(href="/register") Register
